:root {
    --bg-header: ;
    --PacMen-png: url('https://lh3.googleusercontent.com/jYxcOpwHdIde3hfruCefMcGIMJQdf_bPbnlTfwWdk9CbuJ0uElgebRyPPtUnHbW8SAH6A3MhkF9aLciuV9Sy-1t19nNGOwGaAgBPOhB3TvhdsC3e0PpLS-aV8r9_pjxKEKkg0ocCHjdTkstgfiNcQSj8O0sPpCUZ_VUIzJqNx9rHeV2Bx06muj_HeXQNWxq1v_BHK3_-_c8V-efRrpRpVM_4jnhwZ6kCY3V4uWLGsHU3MOAqf8fXmjgwz5_2Qjp24NKg-35gq82-hwCuFMpNsKAa9POm6pSFncNAKyediIvgOjwgEFf-EyGp3Izv1hwZYLGDX7W_Na66dKuAgmo6iiH9MdA34ErOm80n8rIYYfJttmrCfaQQfMDcX5PmNp0Y1AbzDRTcG9bjpIzhpUQLzugFcf1Izbtx3YYXJWoxNtwMVkvXdONK3GUeCCSOCp_8XOQ2AKneC3pOAVK_40EeJTzdQeKYUgtfdL3jrSzB6_cCMUssGd6t90z4lgXlXXf0dTYBng44ND4_Ubv2d4PK767Deo3kvnInWEjTqLAMhZGIV107JzWgyk4DSig8ToYeaQDawGXlaoxQMYi9j1h1ddIm8RgIZL52XxRb6hSb-r11MNNOqIu1TXPsGpr037b_h2mcTiZRMNpi_j4CUZr9ttwvR4i87ylMzX8lCLOsJ1-e5uOSjwPrD5WxjMNczwyMWnqX2mY7z_xBwDSWOduIjJt8WRM2aefGk5_vldf_VrFX_bNfxnaRC0PtZ4sNeKeplQPd-eGqRYDRo5plSZCR5W1puhnCkbDurH7JGYHqC1mTn1CykVDsVshzeIcD8dVw4HaIP9Crd3JJAdlzHnVJJ1J9lsJRUoTNcEBNu7PRSYZX-CdY1fN2mKAXUsSjyu7IJ46_OpyOV9sxSV1NHje1a5a9w0YDWn3XbUtNooVyiK05vrXhQOlO8hIgPU9O-RGormvJrKPOt9gYd5Vp5oSIu-HjOuz-nKNbJhgbhe7gcgADICTrqxZzDJSF=w614-h572-no?authuser=0');

}

*,
*::before,
*::after {
  box-sizing: border-box;
}