*,
*::before,
*::after {
  box-sizing: border-box;
}


/* ================================================ */
/*              About Section                       */
/* ================================================ */

.banner.text {
  /* border: 2px solid red !important;  */
    background-color: hsla(300, 6%, 79%, 0.7) !important ;
  }
  
  div.banner-intro {
    /* border: 2px solid red; */
    background-image: url("https://lh3.googleusercontent.com/n4dbYI6Tbhg9DMOcEH8-xadLeeCGj3NZ1SWvdsBuwckJeM9jRHEqJ6497DlYs7JvWmNBfy-ubkwQ9_ChApd9UhxHrP90fp06VAvO8qBmAkRrWPUdRxZvn0cj1HzJcY_f0uB3VBUnfVfs5DKrmvnnFqOz0yZ-pJ5WRO3u0pflrIxBYVku2k0El6mVYMq1pfCCOerb9eclFvl3Zihp_Zct2UdP4cBbzjzU_jmZl4RLDRXZ8_QCihGnB3Svn1NrXx032O_XXoC15cZ3UE0sfLm_2x9NF9Go560Zb5__Qiy2uWx5prC0gBZVI3Zxgeuod-X8kva7bXfgVe6eIJBUd-G5FoZmkaSBsELi0nDkAiG8nbi6WhMbcXUr8OBVINvlQSK4odEccE_-tbgZgygVMELc_C3XRvolkFkXYRpt6k2eydBp-D5HKQy8hUryjKVXu8W2t9_algwl1IfXDGFzvvpt7yKt9trNlRqhSkOwydcy8i-_-mlpwZuXLz85liveOrJuEjR4cUOgHa1-sIM0os6QNYcGXRoGBySA2kzHh7D_vPAKaquVql_NGhL9NWLEKrV15tsU-1P7CPEM20SzzDSOMkjHry1NQ28g6J3XUhOdrrvxuJsizuouX297ILPxe2v7TesrpqA35ka8rUm29kAR25nBw1TulkpItbRA7w0yEszLLUDjhEmWEgCZtNmJdqGIsDWJ2yeweBF-pMLaUdWkLjGIXOpeWZEQ6TKj3iQ_F5s2JpZ9o78sDg9gJ7JjGOf4HvFrUPOxx1l2ZpKdKteIjAA7fjLxuH_JRkCQbvlHkHb92GG7DUxRH2fQ53oMfR6qs6wZssW0KDA6-c41xPQMpUQIrSqrnrXHeg2M4bsa_iBKF5c-uVTW7N_-dPIO8PNMaX4AbKEq7ntcN8ldGEFQTmLci4rDDE_pMR5AWQZv3-dJMCjhTxE5Ohal9534xCprC3XjAmX02NvYdwh4MS8lUoZwdBZOjSsKTeVT7vttLQCU6olUhrvkv2C2=w2560-h1440-no?authuser=0") !important;
    background-repeat: no-repeat;
    background-size: cover; /*cover the entire background*/
    /*   background-blend-mode: screen, normal; */
    overflow: scroll;
    max-height: 70vh;
  }

  @media (max-width: 780px) {
    div.card img.card-img-top {
      display:none;
    }
  
    div.card div.card-body {
    margin-bottom: 15px;  /*space between*/  
    min-height: 50vh;
    background-repeat: no-repeat;
    background-size: cover; /*cover the entire background*/
    /*   background-blend-mode: screen, normal; */
    }

    div.PacMen div.card-body {
    background-image: url('/images/projects/PacMen.png');
    background-repeat: no-repeat;
    background-size: cover; /*cover the entire background*/
    }

    div.Eye-Movement div.card-body {
      background-image: url('/images/projects/FollowingEyes.png');
      background-repeat: no-repeat !important;
      background-size: cover !important; /*cover the entire background*/
    }

    div.bus-stops div.card-body {
      background-image: url('/images/projects/BusStops.png');
      background-repeat: no-repeat;
      background-size: cover; /*cover the entire background*/
    }
    
    div.selectors div.card-body {
      background-image: url('/images/projects/selectors.png');
      background-repeat: no-repeat;
      background-size: cover; /*cover the entire background*/
    }
    
    div.card-body .card-text {
      margin-top: 15px; /*gap from card-title */
    } 
  }

/* ================================================ */
/*              Portfolio Section                   */
/* ================================================ */

  section.portfolio div.col {
    /* border: 2px solid blue; */
    overflow: hidden;
  }
  
  div.card {
    /* border: 3px dashed green; */
    max-height: 50vh;
    margin-bottom: 10px;
    /* overflow: auto; */
    
  }
  
  div.card-body .card-title {
    /* border: 2px solid blue; */
    text-align: center; 
  }

  div.card-body {
    /* border: 2px solid red; */
    overflow: auto;
  }
    
  a.card-link {
    /* color: green; */
    background-color: hsla(70, 4%, 72%, .6);
  }

/* ================================================ */
/*              Certification Section               */
/* ================================================ */

.portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.portfolio-item .portfolio-item-caption {
  /* border: 4px solid red; */
  /* opacity: 0; */
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(26, 145, 188, 0.9);
}

.portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}

.portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}
   
.cert-modal .btn-close {
  color: #1abc9c;
  font-size: 2rem;
  padding: 1rem;
}

.cert-modal .cert-modal-title {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media (min-width: 780px) {
  .cert-modal .cert-modal-title {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}
    
/* ================================================ */
/*              Footer Section               */
/* ================================================ */  
 
header,  .footer {
    padding-top: 1rem;
    padding-bottom: 5rem;
    background-color: #2c3e50;
    color: #fff;
}
  
footer a {
  color: white;        
}

footer ul {
  list-style-type: none;
}

a.email::before {
  font-family: "Font Awesome 5 Free"; font-weight: 900;        content: "\f0e0";
}

a.phone::before {
  font-family: "Font Awesome 5 Free"; font-weight: 900;        content: "\f879";
}

p.display-2 a::after {
  font-family: "Font Awesome 5 Free"; font-weight: 900;        content: "\f559";
} 

.copyright {
  background-color: #1a252f;
}
      